<div id="productModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">{{product.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="content">
          <span class="metric">
            <i class="glyphicon glyphicon-calendar"></i> 17 Setember 2014
          </span>
          <span class="metric">
          {{#if retail}}
            <i class="glyphicon glyphicon-shopping-cart"></i> In Store
          {{else}}
            <i class="glyphicon glyphicon-globe"></i> johnlewis.com/
          {{/if}}
          </span>
          <span class="metric">
            <i class="glyphicon glyphicon-calendar"></i> £{{product.price}}
          </span>

{{!--           <img src="{{product.image_url}}" alt="">
 --}}
        </div>
        <div class="right-section">
          <img src="/static/images/map.png" alt="" class="map">
          <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-globe"></i> Buy online</button>
          <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-shopping-cart"></i> Find a store near me</button>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->